@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@500;600&family=Lato&family=Libre+Baskerville&family=Playfair+Display&family=Raleway&display=swap');

body { 
  font-family: 'Lato', sans-serif;
  font-weight: 500px;
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  font-weight: 700;
}

h4, h5 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
} 

h6 {
  font-family: 'Lato', sans-serif;
}

/* nav-bar */
.navbar a{
  font-family: 'El Messiri', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #1E212B;
}

.nav-item a:hover {
  background-color: #ffde59;
}

.nav-link-btn {
    width: 100%;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    border-radius: 0.5rem;
    border-style: none;
    font-size: 16px;
    line-height: 24px;
    padding: 8px 12px;
    border-color: #69b550;
    box-shadow: 0px 0px 0px 1px inset;
    text-decoration: none;
    color: rgb(6, 122, 70);
    cursor: pointer;
  }

/* Recipe Card */
.card-title {
  font-family: 'Playfair Display', serif;
  text-align-last: center;
  font-weight: 600;
}

.card {
  background-color: #ffffff;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: 0.2s;
  border-style: solid;
  border-color: #69B550;
  border-width: 2.2px;
}

.card:hover {
  transform: translateY(-0.5%);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
}

/* .card-img-top {
  width: 356;
  height: 184;
} */

/* Buttons */
.buttons {
  width: 200px;
  margin: auto;
  display: inline;
}

.add_to_meal_plan {
  letter-spacing: 0.33px;
  padding: 0.1rem;
  font-size: 1.1rem;
  text-align: center;
  color: #FFFFFF;
  background-color: #69B550;
  border: medium none;
  border-radius: 0.5rem;
  transition: 0.2s;
  display: inline-block;
  width: calc(50% - 4px);
  margin: 0 auto;
}

.delete_recipe {
  letter-spacing: 0.33px;
  padding: 0.1rem;
  font-size: 1.1rem;
  text-align: center;
  color: #FFFFFF;
  background-color: #69B550;
  border: medium none;
  border-radius: 0.5rem;
  transition: 0.2s;
  display: inline-block;
  width: calc(50% - 4px);
  margin: 0 auto;
}

.add_to_meal_plan:hover, .delete_recipe:hover,
.add_to_meal_plan:active, .delete_recipe:active {
  background-color: #FFDE59;
}

.cookbook-head {
  overflow: auto;
}

.cookbook-text {
  float: left;
}

.create-recipe-btn {
  float: right;
}

/* text decorator grocery items */
input[type="checkbox"]:checked + label {
  text-decoration: line-through;
}
