{% extends "base.html" %}

<body>
{% block body %}

<h3>Your favorites:</h3>
{% if favorite_recipes %}
    {% for recipe in favorite_recipes %}
    <div id="div_{{ recipe.id }}">
        <div class ="recipe_name">
            <h3>{{recipe.title}}</h3>
        </div>
        {% if recipe.image %}
        <div class="recipe_image">
            <a href="/recipe-details-{{recipe.id}}"><img src={{recipe.image}}></a>

        </div>
        {% else %}
        <div class="recipe_image">
            <img style="width:200px; height:auto" src="../static/images/no_recipe_picture.jpg">
        </div>
        {% endif %}
        <div>
            <button class="delete_fav" id="{{ recipe.id }}">Delete</button>
        </div>
    </div>
        
    {% endfor %}
{% endif %}

<script src="../static/favorites.js "> </script> 

{% endblock %}
</body>

