<!DOCTYPE html>
<h1> Recipeasy </h1>


<h2> Log In </h2>
<form action="/log-in" method="POST">
  <label for="email">Email</label> <br>
    <input class="loginemail" type="email" name="email"> <br>
    <br>   
  <label for="password">Password</label> <br>
    <input  class="loginpassword" type="password" name="password"><br>
    <br>
    
    <button class="loginbtn" type="submit" > Log in</button> <br>
</form>

<h3>Dont Have an account?? 
<button id="sigup_btn" type="submit"> <a href="/sign-up"> Sign up here! </button>
</h3>