{% extends "base.html" %}

{% block body %}
<body>


<h2 class = "title">Find your next meal</h2>
    
<div class = "meal_search-box">
    <button id= "search_btn" type= "submit" class= "search-btn btn">Search</button>
    <input id="search_input" type= "text" class= "search-control">
</div>

<div id="search_result">
    <h3 class = "title">Build a meal plan </h3>
    <h5 class = "title">Pick your meals for the week:</h5>
    <div id= "meal"></div>
</div>

</body>

<script src="../static/recipe.js"> </script> 

{% endblock %}
