<h1></h1>
  <h2> Not sure about a name :/ </h2>
  <ul>
    <!-- <li><a href="/movies">View all movies</a></li>
    <li><a href="/users">View all users</a></li> -->
  </ul>

  <h2>Log In</h2>
    <form action="/log-in" method="POST">
      <input id="email_login" class="form_control" type="email" name="email" placeholder="email"><br>
      <input id="password_login" class="form_control" type="password" name="password" placeholder="password"><br>
      <button id="login_btn" type="submit" class="btn btn-default"> Log in</button><br>
    </form>

  <h3>Dont Have an account?? <br><a href="/sign-up"> Sign Up </a> </h3>
    <!-- implement botton and redirect to sign up -->