{% extends "base.html" %}

{% block body %}
<body>
    
<div class = "recipe_search_box">
    <h2 class = "title">Find your next meal</h2>
    <button id= "search_btn" type= "submit" class= "search-btn btn">Search</button>
    <input id="search_input" type= "text" class= "search-control">
</div>

<div id="search_result">
    <h3 class = "title">Build a meal plan </h3>
    <h5 class = "title">Pick your meals for the week:</h5>
    <div id= "recipe"></div>
</div>

</body>

<script type="text/javascript">
    const spoonacularApiKey = '{{ SPOON_API_KEY }}';
</script>

<script src="../static/js/recipe.js"> </script> 


{% endblock %}
