<!DOCTYPE html>
<h1> Recipeasy </h1>

<h2>Log In</h2>
<form action="/log-in" method="POST">
  <input id="email_login" class="form_control" type="email" name="email" placeholder="email"><br>
  <input id="password_login" class="form_control" type="password" name="password" placeholder="password"><br>
  <button id="login_btn" type="submit" class="btn btn-default"> Log in</button><br>
</form>

<h3>Dont Have an account?? 
  <button id="sigup_btn" type="submit"> <a href="/sign-up"> Sign up here! </button>
</h3>

