<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" 
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->

    <title>Recipeasy</title>
  {% block body %}
  <body>
    <ul>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul>
            {% for msg in get_flashed_messages() %}
              <div class="alert alert-info">{{ msg }}</div>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
      </ul>
    <h2>Log In</h2>
      <form action="/log-in" method="POST">
        <label for="email">Email</label> <br>
          <input class="loginemail" type="email" name="email"> <br>   
        <label for="password">Password</label> <br>
          <input class="loginpassword" type="password" name="password"><br>
        <button class="loginbtn" type="submit">Log in</button> <br>
      </form>

    <h4>Dont Have an account?? 
      <button id="sigup_btn" type="submit"> <a href="/sign-up">Sign up here!</button>
    </h4>
    
  </body>

  {% endblock %}