{% extends "base.html" %}

<body>
{% block body %}
<section class="header" style="background-image: url('/static/images/food1.jpg')">
    <div class="container">
      <div class="row">
          <h3 class="text-header">Meals for the week</h3>
        </div>
      </div>
    </div>
</section>


{% if meal_plan_recipes %}
<div class="recipes-container"> 
    {% for recipe in meal_plan_recipes %}
        <div class="card-container">
            <div class="card" id="div_{{ recipe.id }}">
                {% if recipe.image %}
                    <a href="/recipe-details-{{recipe.id}}">
                        <img src="{{ recipe.image }}" alt="recipe image" class="card-img-top" class="recipe_image"></a>
                {% else %}
                    <a href="/recipe-details-{{recipe.id}}">
                        <img src="/static/images/no_recipe_img.jpg" alt="recipe image" class="card-img-top" class="recipe_image"></a>
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title" class="recipe_name">{{ recipe.title }}</h5>
                    <div class="buttons">
                        <button class="delete_fav" id="{{ recipe.id }}">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endif %}
    
    <script src="../static/js/mealplan.js "> </script> 
    
    {% endblock %}
    </body>
    