{% extends "base.html" %}

<body>
    {% block body %}
    
    <h3>Your Meals for the week: </h3>
    {% if meal_plan_recipes %}
        {% for recipe in meal_plan_recipes %}
        <div id="div_{{ recipe.id }}">
            <div class ="recipe_name">
                <h3>{{recipe.title}}</h3>
            </div>
            {% if recipe.image %}
            <div class="recipe_image">
                <a href="/recipe-details-{{recipe.id}}"><img src={{recipe.image}}></a>
    
            </div>
            {% else %}
            <div class="recipe_image">
                <a href="/recipe-details-{{ id }}"><img style="width:200px; height:auto" src="../static/images/no_recipe_picture.jpg"></a>
            </div>
            {% endif %}
            <div>
                <button class="delete_fav" id="{{ recipe.id }}">Delete</button>
            </div>
        </div>
            
        {% endfor %}
    {% endif %}
    
    <script src="../static/js/mealplan.js "> </script> 
    
    {% endblock %}
    </body>
    