{% extends "base.html" %}

{% block body %}
<body>
<h3>{{ title }}</h3>
{% if instructions %}
    <h3>Instructions:</h3>
    {% for instruction in instructions %}
        <li>{{ instruction }} </li>     
    {% endfor %}
{% else %}
    <p>Sorry! There are no instructions for this recipe yet &#128542;</p>        
{% endif %}

{% if ingredients %}
    <h3>ingredients:</h3>
    {% for ingredient in ingredients %}
            <li>{{ ingredient['name'] }}:  {{ ingredient['amount'] }} {{ ingredient['unit'] }}</li>  
    {% endfor %}
{% else %}
    <p>Sorry! There are no instructions for this recipe yet &#128542;</p>        
{% endif %}


</body>
<script src="../static/recipe.js"> </script> 
{% endblock %}

