{% extends "base.html" %}

{% block body %}
<body>
<!-- back button -->
<button class="back-button" onclick="window.history.back()">Back</button>
{% if recipe %}
    <div class="recipe">
        {% if recipe["image"] %}
        <div class="recipe-image">
            <img src='{{ recipe["image"] }}'>
        {% else %}
            <img src="../static/images/no_recipe_img.jpg">
        {% endif %}
        <div class="recipe-title-serving">
            <h3 class="recipe-title">{{ recipe["title"] }}</h3>
            <h6 class="recipe-serving">Servings {{ recipe["servings"] }}</h6>
        </div>
        </div>
        <div class="container justify-content-center">
            <div class="row">
                {% if recipe['ingredients'] %}
                <div class="col-4">
                    <h2>Ingredients</h2>
                    {% for ingredient in recipe['ingredients'] %}
                    <ul class="ingredient-list">
                        <li>{{ ingredient['amount'] }} {{ ingredient['unit'] }} {{ ingredient['name'] }}</li>
                    </ul>
                    {% endfor %}
                {% else %}
                    <p>Sorry! There are no ingredients for this recipe yet &#128542;</p>        
                {% endif %}
                </div>
                {% if recipe['instructions'] %}
                <div class="col-8">
                    <h2>Instructions</h2>
                    <ol class="instruction-list">
                        {% for i in recipe['instructions'] %}
                            <li>{{ i }} </li>
                        {% endfor %}
                    </ol>
                </div>
                {% else %}
                    <p>Sorry! There are no instructions for this recipe yet &#128542;</p>        
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}  




</body>
<script src="../static/js/recipe.js"> </script> 
{% endblock %}

