<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">


    <title>Recipeasy</title>
  </head>

  <body>
    <h1> Recipeasy </h1>

    <h2> Sing Up </h2>
    <form action="/register" method="POST">
      <p> Name <input type="text" name="first_name"> </p>
      <p> Last name <input type="text" name="last_name"> </p>  
      <p> Email <input type="email" name="email"> </p>
      <p> Password <input type="password" name="password"> </p>
      <p> <input type="submit" value="Sign up"> </p>
    </form>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    
  </body>
</html>
