{% extends "base.html" %}
<body>
{% block body %}
<!-- <a href="/log-out"><button id="logout" type="button" class="btn btn-default">Log Out</button></a> <br>

<button id="search_input" type="submit" >Search</button>
<input  id="search" type="text" name="search">

<div id="search_result"> </div> -->
<h2 class = "title">Find your next meal</h2>
<form action="/dashboard" method="POST">
  <div class = "meal_search-box">
      <button id= "search_btn" type= "submit" class= "search-btn btn">Search</button>
      <input id="search_input" name="search_recipe" type= "text" class= "search-control" placeholder="Enter an ingredient">
  </div>

  <div id="search_result">
      <h1 class = "title">Build a meal plan </h1>
      <h3 class = "title">Pick your meals for the week:</h3>
      <div id= "meal"></div>
  </div>
</form>

</body>

{% endblock %}
